
/* ClockWidget.css */

/* Base style for the clock widget */
.clock-widget {
    position: absolute;
    padding: 0%;
    top: 75%;
    left: 5%;
    color: white; /* Set the text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font style similar to Windows */
    text-align: left;
    font-size: 24px; /* Adjust font size as needed */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow to the text */
}

/* Additional styles for day, date, and time */
.day {
    position: relative;    
    color: white;
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 5px black;
    filter: none;
}
.date {
    position: relative;    
    color: white;
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 5px black;
    filter: none;
}
.time {
    position: relative;    
    color: white;
    font-size: 100px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 5px black;
    filter: none;
    padding: 0%;
    
}

