.bg-image {
    background-image: url(/public/FirewatchScreens4.jpg);
    background-size: cover; 
    filter: blur(3px); /* Adjust the blur level as desired */
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    transform: scale(1.1);
}

.hero-container-desktopScreen {
    position: absolute;
    padding-left: 1%;
    padding-top: 1%;
    height: 90vh;
    width: 100vw;
    /* transform: translate(10%, 10%); */    
    /* align-items:flex-start */
}

.appDrawer
{
    width: 220px;
    height: 100%; /* Full height of the viewport */
    float: left;    
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;    
    align-content: flex-start;
    flex-wrap: wrap;    
    gap: 5px;
}

.taskbar
{    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;    
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}

#windows-start-button
{    
    height: 20px;
    width: 20px;
    padding: 15px;    
    object-fit: scale-down;
    overflow: hidden;
}

#search-box
{        
    height: 100%;
    width: 300px;
    top:0;
    bottom: 0;
    background-color: aliceblue;
    display: flex;    
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */    
}

#search-box-text
{   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use Segoe UI font */    
    text-align: center;
}

#clock-widget {
    margin-left: auto;
    float: right;
    right: 0;
    height: 100%;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use Segoe UI font */
    text-align: center; /* Center the text horizontally */    
    font-size: 13px; /* Set the font size */
    color: aliceblue;
    display: flex;    
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    display: flex;    
    flex-direction: column;
}