.desktopIcon
{   
    
    height: 110px;
    width: 70px;
    margin: 10px;
    cursor: grab;
    border: 1.5px dotted rgba(255, 255, 255, 0);
}

.iconImage
{
    position: relative;    
    height: 60px;
    width: 60px;
    padding: 5px;
    object-fit: scale-down;
    color: white;
}

.iconText
{
    position: relative;    
    /* top: 5px; */
    height: 20px;
    width: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use Segoe UI font */
    text-align: center; /* Center the text horizontally */
    color:aliceblue;
    font-size: 12px; /* Set the font size */
    word-wrap: break-word;
}