#start-menu
{
    position: absolute;
    height: 50%;
    width: 350px;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}

#os-label
{
    position: absolute;
    float: left;
    height: 100%;
    width: 50px;
    background-color: rgba(141, 141, 141, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

#power-button
{
    position: relative;
    height: 40px;
    width: 50%;
    padding: 25%;
    object-fit: contain;
    color: rgb(100, 100, 100);
}

#power-button:hover
{
    background-color: #F1532E;
}

#settings-button
{
    position: relative;
    height: 40px;
    width: 44%;
    padding: 28%;
    object-fit: contain;
    color: rgb(100, 100, 100);
}

#settings-button:hover
{
    background-color: #5f5f5f;
}

#os-label-text
{
    position: relative;
    height: 80%;
    width: 100%;
    text-orientation: sideways;
    writing-mode: tb-rl;
    transform: scale(-1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use Segoe UI font */
    font-weight: 400;
    letter-spacing: 1px;    
    color:rgb(195, 198, 202);
    font-size: 32px; /* Set the font size */ 
    display: flex;
    justify-content: right; /* Horizontal alignment */
    align-items: center;
    padding-bottom: 15px;
    
}