#desktop-app-container
{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: rgb(151, 151, 151);
    width: 1280px;
    height: 753px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;    
    border-color: rgb(220, 220, 220);
}

#topbar
{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;    
}

#topbar-hitbox
{    
    height: 100%;
    width: calc(100% - 96px);
    cursor: move;
}

.topbarButtons
{
    padding: 8px;    
    width: 16px;
    height: 16px;
    background-color: rgb(220, 220, 220);
    opacity: 0.7;
}

#app-canvas {
    position: static;   
    width: 100%;
    height: 720px;
    background-color: aliceblue;
}

#close:hover {
    background-color: red; /* Change background color on hover */
}

#minimize:hover {
    background-color: rgb(140, 140, 140); /* Change background color on hover */
}

#restoreDown:hover {
    background-color: rgb(140, 140, 140); /* Change background color on hover */
}


