* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.root {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;  
  overflow: hidden;
}

#App {  
  position: absolute;
  height: 100%;
  /* width: 1280px; */
  width: 100%;
  /* min-height: 100%; */
  /* image-rendering: pixelated; */
  overflow: hidden;
  text-align: center;
}
