.hero-container-desktopScreen {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.bg-image {
    background-image: url(/public/FirewatchScreens3.jpg);
    background-size: cover; 
    filter: blur(3px); /* Adjust the blur level as desired */
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    transform: scale(1.1);
}